<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>

<body style="		background-color: #fff; 
					margin: 0; 
                    padding: 0;
                    font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">

<div style="	width: 640px;
				background-color: #FFF;
				margin: 0 auto;
				background-color: #FFF;
				margin: 10px auto;
                border: 1px #e2e2e2 solid;
                border-radius:6px 6px 6px 6px;
                -moz-border-radius: 6px 6px 6px 6px; 
                -webkit-border-radius:6px 6px 6px 6px; 
                -webkit-font-smoothing: antialiased; 
                 ">
  	<div style="	border-radius:6px 6px 0px 0px;
                	-moz-border-radius: 6px 6px 0px 0px; 
                	-webkit-border-radius:6px 6px 0px 0px; 
                	-webkit-font-smoothing: antialiased; 
                	background-color: #043948;                		
                    color: #e7cba3;
                    font-size: 12px;
                    text-align: right;" 
                    class="top-mail">
    	<a style="	font-weight: bold; 
        			color: #e7cba3; 
                    text-decoration: none; 
                    margin-right: 5px;" 
                    href="http://www.supplycvba.be">Webversie</a>
    </div>
    <div style="	background-color:#0093D3; ">
    	<a href="http://www.supplycvba.be"><img src="http://www.supplycvba.be/images/emailheader/header.png" width="640px" height="79px" style="border: none;" alt="Supply CVBA"/></a>
    </div>
  	<div style="	margin: 0 auto;
    				padding: 10px 0;
                    width: 600px;" >
    	<h1 style="	font-size: 18px; 
        				line-height:24px; 
                        color: #9a9661; 
                        font-weight:bold; 
                        margin-top:0px; 
                        margin-bottom:18px;">
                        Bestelling</h1>
        
        <p style="	font-size: 13px; 
        				line-height: 18px; 
                        color: #444444; 
                        margin-top: 0px; 
                        margin-bottom: 18px;">
                        Dit heeft u besteld!</p>
    </div>
  	<div style="	border-radius:0px 0px 6px 6px; 				
    				-moz-border-radius: 0px 0px 6px 6px; 
                    -webkit-border-radius:0px 0px 6px 6px; 
                    -webkit-font-smoothing: antialiased;
                    background-color: #043948; 
                    color: #e2e2e2;
                    font-size: 12px; 
                    line-height: 15px; 
                    color: #e2e2e2;" >
    <table width="100%" style="border-collapse: collapse;">
    	<tr>
        	<td width="50%"><div style="padding-left: 5px; background-color: #043948; ">Copyright &#169; Supply CVBA</div></td>
            <td width="50%"><div style="padding-right: 5px; background-color: #043948; text-align:right;">Datum bestelling: Date</div></td>
        </tr>
    </table>
    
    
    
    
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
</html>
